.member {

    &__card {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        
        &:hover>img {
            transform: scale(1.1); 
        }

        &-img {
            max-width: 100%;
            transition: transform .5s ease;
        }
        &-hover {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            @include flex-column;
            background: rgba(0,0,0,0.8);
            transition: all .4s ease;
            opacity: 0;

            &:hover {
                opacity: 1;
            }
            &>p {
                font-size: 16px;
                line-height: 25px;
                padding: 30px;
                color: #ffffff;
            }
        }
        &-socials {
            display: flex;
            // background-color: #ffffff;

            // &:hover {
            //     background-color: #000000;
            // }
        }
    }
    &__desc {
        @include flex-around;
        min-height: 75px;
        
        &-name {
            font-size: 17px;
            line-height: 25px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &-position {
            font-size: 14px;
            line-height: 20px;
        }
    }
}